/*.welcome2 {
font-family: Arial;
font-size: 0.5em;
color: black;
top: 0em;
text-align: center;
width: 100%;
height: 100%;
}*/
#backgroundImage {
	background-color: red;
	width: 100px;
	height: 100px;
}

.Willkommen {
	position: fixed;
	right: 0px;
	bottom: 0px;
	left: 0px;
	top: 0px;
	z-index: 100;
  font-family: "Open Sans";
	font-weight: 400;
  text-align: center;
	font-size: 1.5em;
}
/*.backgroundImage {
	width: 100%;
	height: 100%;
}*/
