noscript h1 {
	text-align: center;
	color: black;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1em;
	background-color: red;
	padding: 1.5em;
	border-width: 0.25em;
	border-style: solid;
	border-color: black;
	position: absolute;
	left: 25%;
	top: 25%;
	z-index: 10000
}
/*.Willkommen:nth-child(1n+0) {
	padding: 5px 5px 5px 5px;
}*/
#welcomemessage {
	color: inherit;
	font-family: "Open Sans";
	font-weight: 400;
}
/*SCHLECHT POSITIONIERT - ABER BESSER ALS GAR NICHT!*/ .Links {
	text-align: center;
} /*margin-top: 25%;*/
.Links {
	position: absolute;
	left: 50%;
	top: 50%
}
.Links a {
	text-decoration: none;
	color: white; /*#4d4d4d*/
	border-color: #f2f2f2;
	background-color: #DA904C;
	border-style: solid;
	margin: 10px;
	border-width: 2px;
	border-radius: 25px;
	padding: 5px 20px 5px 20px;
	cursor: pointer;
}
.Links a:hover {
	color: white;
	border-color: white;
	background-color: #AA703B;
}
.Links a:visited {
	color: white;
}
/*>>zur Darstellung am unteren Rand rechts. .Links #Start {
	position: relative;
	text-align: center;
	bottom: 0.5em;
	right: 0.5em;
}*/
#backgroundImage {
	background-image: url("unsplash_by_Will_van_Wingerden.jpg");
	position: fixed;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	z-index: -5;
}
