/*.welcome2 {
font-family: Arial;
font-size: 0.5em;
color: black;
top: 0em;
text-align: center;
width: 100%;
height: 100%;
}*/
.Willkommen {
	position: fixed;
	z-index: 100;
  font-family: "Open Sans";
	font-weight: 400;
  text-align: center;
	font-size: 1.5em;
}
/*.backgroundImage {
	width: 100%;
	height: 100%;
}*/
