*, *::after, *::before {
  box-sizing: border-box;
}
html,
body {
	width: 100%;
	height: 100%;
  margin: 0px;
}
noscript h1 {
	text-align: center;
	color: black;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1em;
	background-color: red;
	padding: 1.5em;
	border-width: 0.25em;
	border-style: solid;
	border-color: black;
	position: absolute;
	left: 35%;
	top: 75%;
	z-index: 10000
}
a {
  text-decoration: none;
  color: #000;
}
a:visited {
  color: #7A6A6A;
}
a:active {
  #FF0054;
}
.list {
  height: 100%;
  width: 0em;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 5em;
  transition: all 0.5s cubic-bezier(.14,.54,1,.31);
}
.list-elements a {
  color: white;
  cursor: pointer;
  display: block;
  text-decoration: none;
  padding: 0.5em;
  padding-left: 1.5em;
  transition: .3s;
}
.list-elements {
  display: none;
  font-size: 1.25em;
  font-family: 'Roboto Condensed', sans-serif;
}
.list-elements a:hover {
  opacity: 0.5
}
.list-elements a:active {
  color: #F63E02
}
.list-elements a span {
  margin-left: 1em;
}
#close-button {
  position: absolute;
	z-index: 100;
	margin: 1em;
	padding: 0;
	border: none;
	font-size: 1.5em;
	color: red;
	background: transparent;
  top: 0.0625em;
  left: 7em;
  cursor: pointer;
}
#close-button:hover {
  opacity: 0.5;
}
#open-button {
	margin: 1em;
	padding: 0;
	border: none;
	font-size: 2em;
	color: red;
	background: transparent;
  cursor: pointer;
  z-index: 75;
  position: fixed;
  text-align: left;
}
#open-button:hover {
  opacity: 0.5;
}
#headerImage {
  background-color: #00DE52;
  background-image: linear-gradient(60deg, #FF3A19, #00FF8D);
  background-image: url("unsplash_by_Will_van_Wingerden.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%
}
.title {
  width: 100px;
  height: 50px;
  position: absolute;
  top: calc(50% - 50px/2); /* height divided by 2*/
  left: calc(50% - 90px/2); /* width divided by 2*/
  border-style: solid;
  border-width: 0.0625em;
  border-color: #000;
}
.title h1 {
  font-family: "Roboto Condensed";
  font-size: 2em;
  margin: 0.05em;
  text-align: center;
}
.article {
  margin: 0em 5em 0em 5em;
}
.article h1 {
  font-size: 2em;
  font-family: "Open Sans", sans-serif;
  margin-top: 0em;
  margin-bottom: 0em;
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
  margin: 1em 0em 0.5em 0em;
}
.article p {
  font-size: 1.5em;
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 0.125em;
  text-align: center;
}
footer {
  margin: 2em 2em 2em 2em;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.25em
}
footer a {
 padding: 0.75em;
 margin: 0.5em;
}
footer a span{
  margin-left: 0.25em
}
footer a:hover {
  opacity: 0.5;
  transition: .3s
}
/*@media screen and (max-width: 425px) {
  .title {left: 40%}
  .article {margin: 0em 2em 0em 2em}
}
@media screen and (min-width: 375px) and (max-width: 425px){
  .title {left: 45%}
}*/
@media screen and (max-width: 425px) {
  .article {margin: 0em 2em 0em 2em}
}
