*, *::after, *::before {
  box-sizing: border-box;
}
html,
body,
.container,
.content-wrap {
	width: 100%;
	height: 100%;
  margin: 0px;
}
.list {
  height: 100%;
  width: 0em;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 5em;
  transition: 0.5s;
}
.list-elements a {
  color: white;
  cursor: pointer;
  display: block;
  text-decoration: none;
  text-decoration-style: solid;
  font-family: sans-serif, Arial;
  padding: 0.5em;
  padding-left: 1.5em;
  transition: .3s;
}
.list-elements {
  display: none;
  font-size: 1.25em
}
.list-elements a:hover {
  opacity: 0.5
}
.list-elements a:active {
  color: #F63E02
}
.list-elements a span {
  margin-left: 1em;
}
#close-button {
  position: absolute;
	z-index: 100;
	margin: 1em;
	padding: 0;
	border: none;
	font-size: 1.5em;
	color: red;
	background: transparent;
  top: 0.0625em;
  left: 7em;
  cursor: pointer;
}
#close-button:hover {
  opacity: 0.5;
}
#open-button {
	margin: 1em;
	padding: 0;
	border: none;
	font-size: 2em;
	color: red;
	background: transparent;
  cursor: pointer;
  z-index: 75;
  position: fixed
}
#open-button:hover {
  opacity: 0.5;
}
#headerImage {
  /*>>>>background-image: url("unsplash_by_Will_van_Wingerden.jpg");*/
  background-color: blue;
	/*position: fixed;
	width: 100%;
	height: 0;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
  z-index: -5;
  display: inline-block;*/

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*height: 100%*/
}
.article p{
  position: absolute;
  z-index: 1000;
  font-size: 2em;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
