*, *::after, *::before {
  box-sizing: border-box;
}
html,
body,
.container,
.content-wrap {
	width: 100%;
	height: 100%;
  margin: 0px;
}
a {
  text-decoration: none;
  color: #000;
}
.list {
  height: 100%;
  width: 0em;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 5em;
  transition: 0.5s;
}
.list-elements a {
  color: white;
  cursor: pointer;
  display: block;
  text-decoration: none;
  padding: 0.5em;
  padding-left: 1.5em;
  transition: .3s;
}
.list-elements {
  display: none;
  font-size: 1.25em;
  font-family: 'Roboto Condensed', sans-serif;
}
.list-elements a:hover {
  opacity: 0.5
}
.list-elements a:active {
  color: #F63E02
}
.list-elements a span {
  margin-left: 1em;
}
#close-button {
  position: absolute;
	z-index: 100;
	margin: 1em;
	padding: 0;
	border: none;
	font-size: 1.5em;
	color: red;
	background: transparent;
  top: 0.0625em;
  left: 7em;
  cursor: pointer;
}
#close-button:hover {
  opacity: 0.5;
}
#open-button {
	margin: 1em;
	padding: 0;
	border: none;
	font-size: 2em;
	color: red;
	background: transparent;
  cursor: pointer;
  z-index: 75;
  position: fixed;
  text-align: left;
}
#open-button:hover {
  opacity: 0.5;
}
#headerImage {
  background-color: blue;
  background-image: url("unsplash_by_Will_van_Wingerden.jpg");
	/*position: fixed;
	width: 100%;
	height: 0;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
  z-index: -5;
  display: inline-block;*/

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*height: 100%*/
}
.title {
  position: absolute;
  left: 50%;
  top: 50%;
  border-style: solid;
  border-width: 0.0625em;
  border-color: #000;
}
.title h1 {
  font-family: "Roboto Condensed";
  font-size: 2em;
  margin: 0.05em;
}
.article {
  margin: 0em 5em 0em 5em;
}
.article h1 {
  font-size: 2em;
  font-family: "Open Sans", sans-serif;
  margin-top: 0em;
  margin-bottom: 0em;
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
  margin: 1em 5em 0.5em 5em;
}
.article p {
  font-size: 1.5em;
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 0.125em;
  text-align: center;
}
footer {
  margin: 2em 2em 2em 2em;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.25em
}
footer a {
 padding: 1em;
}
footer a span{
  margin-left: 0.25em
}
footer a:hover {
  opacity: 0.5;
  transition: .3s
}
